<article class="listing">
  <a class="image">
    <img src="{{car.image}}" alt="" style="height: 300px; width: 300px; object-fit: contain;">
  </a>
  <h3>{{car.title}}</h3>
  <div class="detail brand">
    <span>Brand:</span> {{car.brand}}
  </div>
  <div class="detail model">
    <span>Model:</span> {{car.model}}
  </div>
  <div class="detail engine">
    <span>Engine:</span> {{car.engine}}
  </div>
  <div class="detail power">
    <span>Power:</span> {{car.power}}
  </div>
  <div class="detail doors">
    <span>Doors:</span> {{car.doors}}
  </div>
  <div class="detail colors">
    <span>Color:</span> {{car.colors}}
  </div>
  <div class="detail drive-wheel">
    <span>Drive wheel:</span> {{car.drive_wheel}}
  </div>
  <div class="detail category">
    <span>Category:</span> {{car.category}}
  </div>
  <div class="detail price">
    <span>Price:</span> {{car.price}}
  </div>
  <div class="detail quantity">
    <span>Quantity:</span> {{car.quantity}}
  </div>
  <div class="detail city">
    <span>City:</span> {{car.city}}
  </div>
  <div class="detail address">
    <span>Address:</span> {{car.address}}
  </div>
  <div class="detail description">
    <span>Description:</span> {{car.description}}
  </div>
</article>

