<div class="modal" tabindex="-1" role="dialog" id="myModalEdit">
  <div class="modal-dialog" role="document" style="max-width:600px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{car.brand}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form {{action "editItem" car on="submit"}}>
          <div class="form-group">
            {{input class="form-control" value=car.brand placeholder='brand'}}
          </div>
          <div class="form-group">
            {{input class="form-control" value=car.model placeholder='model'}}
          </div>
          <div class="form-group">
            {{input class="form-control" value=car.engine placeholder='engine'}}
          </div>
          <div class="form-group">
            {{input class="form-control" value=car.power placeholder='power'}}
          </div>
          <div class="form-group">
            {{input class="form-control" value=car.doors placeholder='doors'}}
          </div>
          <div class="form-group">
            {{input class="form-control" value=car.colors placeholder='colors'}}
          </div>
          <div class="form-group">
            {{input class="form-control" value=car.drive_wheel placeholder='drive_wheel'}}
          </div>
          <div class="form-group">
            {{input class="form-control" value=car.category placeholder='category'}}
          </div>
          <div class="form-group">
            {{input class="form-control" value=car.price placeholder='price'}}
          </div>
          <div class="form-group">
            {{input class="form-control" value=car.city placeholder='city'}}
          </div>
          <div class="form-group">
            {{input class="form-control" value=car.address placeholder='address'}}
          </div>
          <div class="form-group">
            {{input class="form-control" value=car.description placeholder='description'}}
          </div>
          <button type="submit" class="btn btn-success">Save changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12">
    <div class="card">
      <div class="card-body bg-light">
        <h3>{{car-title-type car.brand car.model}}</h3>
        <div>
        <img src="{{car.image}}" alt="" style="height: 200px; width: 300px; object-fit: contain;">
        </div>
        <div class="m-1">
          {{#link-to "cars.show" car class="btn btn-info"}}Detail{{/link-to}}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalEdit">Edit</button>
          <button type="button" class="btn btn-danger" {{action 'removeItem' car.id}}>Remove</button>
        </div>
        <div class="card w-100">
          <div class="card-header">
            Car
          </div>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item"><span>Brand:</span> {{car.brand}}</li>
            <li class="list-group-item"><span>Model:</span> {{car.model}}</li>
            <li class="list-group-item"><span>Engine:</span> {{car.engine}}</li>
            <li class="list-group-item"><span>Power:</span> {{car.power}}</li>
            <li class="list-group-item"><span>Doors:</span> {{car.doors}}</li>
            <li class="list-group-item"><span>Color:</span> {{car.colors}}</li>
            <li class="list-group-item"><span>Drive wheel:</span> {{car.drive_wheel}}</li>
            <li class="list-group-item"><span>Category:</span> {{car.category}}</li>
            <li class="list-group-item"><span>Price:</span> {{car.price}}</li>
            <li class="list-group-item"> <span>City:</span> {{car.city}}</li>
            <li class="list-group-item"><span>Address:</span> {{car.address}}</li>
            <li class="list-group-item">{{car.description}}</li>
          </ul>
        </div>
      </div>
    </div>
</div>