{{edit-modal car=car editItem=(action 'editItem')}}

<div class="col-sm-12">
  <div class="card">
    <div class="card-body bg-light">
      <h3 class="car-title">{{car-title-type car.brand car.model}}</h3>
      <div>
        <img src="{{car.image}}" alt="" style="height: 200px; width: 300px; object-fit: contain;">
      </div>
      <div class="m-1">
        {{#link-to "cars.show" car class="btn btn-info detail"}}Detail{{/link-to}}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalEdit">Edit</button>
        <button type="button" class="btn btn-danger" {{action 'removeItem' car.id}}>Remove</button>
      </div>
      <div class="card w-100">
        <div class="card-header">
          Car
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span>Brand:</span> {{car.brand}}</li>
          <li class="list-group-item"><span>Model:</span> {{car.model}}</li>
          <li class="list-group-item"><span>Engine:</span> {{car.engine}}</li>
          <li class="list-group-item"><span>Power:</span> {{car.power}}</li>
          <li class="list-group-item"><span>Doors:</span> {{car.doors}}</li>
          <li class="list-group-item"><span>Color:</span> {{car.colors}}</li>
          <li class="list-group-item"><span>Drive wheel:</span> {{car.drive_wheel}}</li>
          <li class="list-group-item"><span>Category:</span> {{car.category}}</li>
          <li class="list-group-item"><span>Price:</span> {{car.price}}</li>
          <li class="list-group-item"><span>City:</span> {{car.city}}</li>
          <li class="list-group-item"><span>Address:</span> {{car.address}}</li>
          <li class="list-group-item">{{car.description}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>