<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document" style="max-width:600px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{rental.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form {{action "submit" on="submit"}}>
          <div class="form-group">
            <input class="form-control" value={{id}} oninput={{action (mut id) value="target.value"}} placeholder='ID'>
          </div>
          <div class="form-group">
            <input class="form-control" value={{brand}} oninput={{action (mut id) value="target.value"}} placeholder='Brand'>
          </div>
          <div class="form-group">
            <input class="form-control" value={{model}} oninput={{action (mut id) value="target.value"}} placeholder='Model'>
          </div>
          <div class="form-group">
            <input class="form-control" value={{engine}} oninput={{action (mut id) value="target.value"}} placeholder='Engine'>
          </div>
          <div class="form-group">
            <input class="form-control" value={{power}} oninput={{action (mut id) value="target.value"}} placeholder='Power'>
          </div>
          <div class="form-group">
            <input class="form-control" value={{doors}} oninput={{action (mut id) value="target.value"}} placeholder='Doors'>
          </div>
          <div class="form-group">
            <input class="form-control" value={{colors}} oninput={{action (mut id) value="target.value"}} placeholder='Colors'>
          </div>
          <div class="form-group">
            <input class="form-control" value={{drive_wheel}} oninput={{action (mut id) value="target.value"}} placeholder='Drive wheel'>
          </div>
          <div class="form-group">
            <input class="form-control" value={{category}} oninput={{action (mut id) value="target.value"}} placeholder='Category'>
          </div>
          <div class="form-group">
            <input class="form-control" value={{price}} oninput={{action (mut id) value="target.value"}} placeholder='Price'>
          </div>
          <div class="form-group">
            <input class="form-control" value={{city}} oninput={{action (mut id) value="target.value"}} placeholder='City'>
          </div>
          <div class="form-group">
            <input class="form-control" value={{address}} oninput={{action (mut id) value="target.value"}} placeholder='Address'>
          </div>
          <div class="form-group">
            <input class="form-control" value={{description}} oninput={{action (mut id) value="target.value"}} placeholder='Description'>
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-success float-right m-2" data-toggle="modal" data-target="#myModal">Add a new car</button>

{{#list-filter filter=(action 'filterByBrand') as |cars|}}
  {{#each cars as |carUnit|}}
    <div class="m-2">
      {{car-listing car=carUnit removeItem=(action 'removeItem') editItem=(action 'editItem')}}
    </div>
  {{/each}}
{{/list-filter}}